<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<!-- Managed by Ansible -->
<configuration>
  <property>
    <name>dfs.replication</name>
    <value>{{ hdfs_replication }}</value>
  </property>
</configuration>
